

#menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    margin-top: 42vh;

    
    color: #ffff;
    

}

a{
    font-family: 'MedievalSharp', cursive;
    font-family: 'Anton', sans-serif;
    
    color: #ffff;
    text-align: center;
    
}

#header{
    text-align: center;

}

#header a{
    font-size: 200%;
}
