

#menu{
    margin-top: 120px;
    color: #ffff;
    

}

a{
    font-family: 'MedievalSharp', cursive;
    font-family: 'Anton', sans-serif;
    margin-right: 10px;
    color: #ffff;
}

#header{
    text-align: center;
}