h1{
    text-align: center;
    color: #ffff;
}

#padre{
    display: grid;
    grid-template-columns:2fr 2fr; 
}


/* .container{
    margin-top: 20%;
} */

/* .carcardimg{
    /* display:flex;
    justify-content: right;

}  */

#principal{
    
        margin-bottom: 40px;
        max-height: 635px;
        overflow: scroll;
    
    
}

.row{
    margin-bottom: 10px;
}