<link href="https://fonts.googleapis.com/css?family=Anton|MedievalSharp" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ranga" rel="stylesheet">


<div id="contenedor"></div>
<div id="grid">

  <app-sidebar></app-sidebar>
  <div>
    <h1>EVENTOS</h1>


    <div class="contenedor">
      <div class="contenedor_tarjeta">

        <figure>

          <img src="/assets/maraton2.jpg" class="frontal">
          <figcaption class="trasera">
            <h2>
              <a href="https://maratoncdmx.com/" target="_blank"> MARATON CDMX TELCEL 2018</a>
            </h2>
            <hr>
            <p>El Maratón de la Ciudad de México Telcel 2018 será la edición de la carrera que ofrezca un mayor compromiso con
              el medio ambiente, al fortalecer todas las normas en ese sentido, antes, durante y posterior, a los 42.195
              kilómetros a un mes de su realización el 26 de agosto.</p>
          </figcaption>

        </figure>


      </div>


      <div class="contenedor_tarjeta">

        <figure>

          <img src="/assets/free.png" class="frontal">
          <figcaption class="trasera">
            <h2>
              <a href="https://www.redbull.com/mx-es/events/red-bull-street-style-abre-sus-puertas" target="_blank"> RED BULL FREE STYLE</a>
            </h2>
            <hr>
            <p>La mejor competición de fútbol freestyle vuelve a la carga después de dos años de ausencia. Todavía puedes inscribirte
              para el evento de la Ciudad de México.</p>
          </figcaption>

        </figure>


      </div>



      <div class="contenedor_tarjeta">

        <figure>

          <img src="/assets/futbimbo.jpg" class="frontal">
          <figcaption class="trasera">
            <h2>
              <a href="https://www.futbolitobimbo.com.mx/" target="_blank"> FUTBOLITO BIMBO</a>
            </h2>
            <hr>
            <p>Por 54 años, Futbolito Bimbo ha ido más allá de los partidos, más allá de los goles, para brindarle a los pequeños
              mexicanos una experiencia increíble: conocer a muchos niños de todos los estados de la República, viajar por
              México y practicar el compañerismo y apoyo dentro y fuera de la cancha. Hoy en día, Futbolito Bimbo continúa
              creciendo, volviéndose un espacio donde los niños y niñas mexicanos pueden divertirse, activarse físicamente
              y aprender lecciones que los acompañarán siempre.</p>
          </figcaption>

        </figure>


      </div>


      <div class="contenedor_tarjeta">

        <figure>

          <img src="/assets/retasdebarrio.png" class="frontal">
          <figcaption class="trasera">
            <h2>
              <a href="https://twitter.com/nikemexico/status/928715986311827456?lang=es" target="_blank">
                NIKE RETAS</a>
            </h2>
            <hr>
            <p>Retas de barrios está de vuelta. Conquista la ciudad. Registra a tu equipo y demuestra quién manda: http://www.nike.com/futbol
              #PrendeElJuego🔥 #CongelaAlRival ❄</p>
          </figcaption>

        </figure>


      </div>



      <div class="contenedor_tarjeta">

        <figure>

          <img src="/assets/tango.jpg" class="frontal">
          <figcaption class="trasera">
            <h2>
              <a href="https://www.adidas.mx/tangoleague" target="_blank">
                ADIDAS TANGO LEAGUE</a>
            </h2>
            <hr>
            <p>ENFRENTA A LOS MEJORES JUGADORES EN LOS EVENTOS MÁS GRANDES Y HAZTE NOTAR POR TU DESEMPEÑO EN EL CAMPO DE JUEGO.</p>
          </figcaption>

        </figure>


      </div>

      <div class="contenedor_tarjeta">

        <figure>

          <img src="/assets/juanfut.jpg" class="frontal">
          <figcaption class="trasera">
            <h2>
              <a href="http://juanfutbol.com/articulo/erick/las-mejores-canchas-para-echar-la-reta-en-la-ciudad-de-mexico" target="_blank">
                JUANFUTBOL TE DICE</a>
            </h2>
            <hr>
            <p>LAS MEJORES CANCHAS PARA ECHAR LA RETA EN LA CDMX</p>
          </figcaption>

        </figure>


      </div>


    </div>

  </div>
</div>
