<div id="grid">

  <app-sidebar></app-sidebar> 

</div>

  <h1>EVENTOS</h1>


  <div class="contenedor">
    <div class="contenedor_tarjeta">

      <figure>

        <img src="/assets/mundial2018.jpg" class="frontal">
        <figcaption class="trasera">
          <h2>RUSIA 2018</h2>
          <hr>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste, ullam.</p>
        </figcaption>

      </figure>


    </div>


    <div class="contenedor_tarjeta">

            <figure>
      
              <img src="/assets/free.png" class="frontal">
              <figcaption class="trasera">
                <h2>RED BULL FREE STYLE</h2>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste, ullam.</p>
              </figcaption>
      
            </figure>
      
      
          </div>



          <div class="contenedor_tarjeta">

                <figure>
          
                  <img src="/assets/futbimbo.jpg" class="frontal">
                  <figcaption class="trasera">
                    <h2>FUTBOLITO BIMBO</h2>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste, ullam.</p>
                  </figcaption>
          
                </figure>
          
          
              </div>


              <div class="contenedor_tarjeta">

                    <figure>
              
                      <img src="/assets/retasdebarrio.png" class="frontal">
                      <figcaption class="trasera">
                        <h2>NIKE RETAS</h2>
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste, ullam.</p>
                      </figcaption>
              
                    </figure>
              
              
                  </div>
      <!--<div class="cardimg" style="width: 25rem;">
      <img class="card-img-top" src="/assets/calendario-espanol-horizontal-85649218.jpg" alt="">
    </div> -->

    
  </div>


