<div id="grid">

  <app-sidebar></app-sidebar>

  <div id="principal">

      <h1>EVENTOS</h1>
      <div id="padre">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://placeimg.com/640/480/any" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Evento 1</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Detalles</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
        
                
        
              </div>
              <div class="row">
              <div class="col-sm-6">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://placeimg.com/640/480/any" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Evento 2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Detalles</a>
                  </div>
                </div>
              </div>
            </div>

            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://placeimg.com/640/480/any" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Evento 3</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Detalles</a>
                  </div>
                </div>
              </div>

              <div class="row">
              <div class="col-sm-12">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://placeimg.com/640/480/any" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Evento 4</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Detalles</a>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>

          <div class="cardimg" style="width: 25rem;">
              <img class="card-img-top" src="/assets/calendario-espanol-horizontal-85649218.jpg" alt="">
            </div>
        
        
        </div>
  </div>


</div>


