#iconos{
    border: 1px red solid;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   
   
    
}



img{
    height: 94%;
    width: 9%;
   
  
  
}
a{
    text-align: center;
}


footer{
    height: 40px;
    position: fixed;
    bottom: 0;
    line-height: 40px;
    background-color: rgb(36, 32, 32);
    opacity: 0.6;
}



footer #iconos .facebook:hover{
    transform: scale(1.9, 1.9);
  

}

footer #iconos img{
    transition: all .5s ease;
    
}

footer #iconos .twitter:hover{
    transform: scale(1.9, 1.9);
}

footer #iconos .instagram:hover{
    transform: scale(1.9, 1.9);
}

footer #iconos .youtube:hover{
    transform: scale(1.9, 1.9);
}