<app-sidebar></app-sidebar>

<h1>QUIENES SOMOS</h1>

<div>
    

<div class="quienes">
  <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam nihil, optio maxime accusantium omnis rem incidunt dolor!
    Reprehenderit veritatis natus saepe error voluptatum nemo accusamus quis! Mollitia quos temporibus provident.</p>



  <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt fugiat dolorem atque! A, magni dolor! Ex modi facere
    non quidem quos dicta est impedit cupiditate, id harum. Vitae, ullam fuga?</p>


    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, cumque?</p>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae, laudantium.}</p>
</div>

</div>




