<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">

<div id="grid">
  <app-sidebar></app-sidebar>

 
  <div id="principal">
      <h1>QUIENES SOMOS</h1>



    <div class="quienes">
      <span>COMUNIDAD FUTBOL</span>




    </div>
    <div id="descripcion">
        <h3>NOSOTROS</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel, architecto voluptatem, recusandae explicabo ab nisi natus deserunt praesentium quas, repellat reiciendis? 
        Vel adipisci eaque eligendi? Harum qui deserunt necessitatibus ad.</p>
    </div>
  </div>
</div>
