<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Anton|MedievalSharp" rel="stylesheet">

<div id="contenedor"></div>


<div id="grid">

  <app-sidebar></app-sidebar>



  <div id="principal">
      <h1>NOSOTROS</h1>

    




    <div class="quienes">
      <span>COMUNIDAD FUTBOL</span>




    </div>
    <div id="descripcion">
      <h3>QUIENES SOMOS</h3>
      <p>SOMOS UN NUEVO EQUIPO DE DESARROLLO WEB APASIONADOS DEL DEPORTE MAS BELLO DEL MUNDO, ORGULLOSAMENTE MEXICANOS.
        CON LA MOTIVACION DE HACER DE NUESTRO PAIS, UN LUGAR CON PERSONAS SALUDABLES Y CON UNA IDEOLOGIA DEPORTIVA.
      </p>
    </div>
  </div>
</div>
