h1{
    text-align: center;
    color:#ffff;
}


.quienes {
    
    border: 5px #ffff solid;
    background-image: url("/assets/teamwork.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 5%;
    width: 40%;
   height: 70vh;
    justify-content: center;
    align-items: center;
    
    padding: 3px;
    /* overflow: scroll; */

}

p{
    color:#330B05;
}