h1{
    text-align: center;
    color:#ffff;
}


button{
    border:1px yellow solid; 
    display: flex;
    margin: auto;
    justify-content: center;

    margin-top: 10vh;
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    
    font-weight: 300;
    font-size: 25px;
    
    color: #ffffff;
    background-color: #861720;
    border-radius: 15px;
    border: 3px double #ffffff;
  }
  button:hover{
    opacity: 0.6;
    text-decoration: none;
  }


.principalmapa{
    border: 1px red solid;
        /* display: grid;
        grid-template-rows: 2fr 1fr; */
  
  

  
     
    
}

#mapa{
    border:1px blue solid;
    display: flex;
    justify-content: center;
    height: 314px;
    width: 54%;
   

    
    margin: auto;

      
    
}


#donde{

    margin-top: 50px;
}

iframe{
    height: 100%;
    width: 100%
}