
<header>

  <img src="/assets/190-menu.svg" alt="">
  <label for="check" class="icon-menu">
    MENU
  </label>
  
</header>
<div id="grid">


<div id="conteiner">
    <input type="checkbox" id="check" checked>

  <!-- Sidebar -->

 

    <div class="sidebar-nav">
    <ul>
      <li>
        <a routerLink="/">
          COMUNIDAD FUTBOL</a>
      </li>
      <li>
        <a routerLink="/jugar">DONDE JUGAR</a>
      </li>
      <li>
        <a routerLink="/eventos">EVENTOS</a>
      </li>
      <li>
        <a routerLink="/quienes">NOSOTROS</a>
      </li>


    </ul>
  </div>
  </div>



</div>