
  label{
    display: inline-block;
    margin-bottom: 0.5rem;
    /* margin-top: 4px; */
    position: relative;
    top: 3px;
    cursor: pointer;
  }
  /* conteiner {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: black;
    opacity: 0.8;
   
  
  }
   */
  
  /* Sidebar Styles */
  
  .sidebar-nav {
    /* position: absolute; */
    top: 35px;
    width: 250px;
    margin: 0;
    padding: 0;
    position: fixed;
    height: calc(100vh - 93px);
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
    transition: all 500ms;
    overflow: hidden;
    
   

  }

  header{
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
    color: #ffff;
    height: 35px;
    position: fixed;
    width: 250px;
  }
  
  .sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    list-style: none
  }
  
  .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ffff;
  }
  
  .sidebar-nav li a:hover {
    text-decoration: none;
    color: #ffff;
    background: rgba(255, 2, 14, 0.466);
  }

  li{
    margin-bottom: 30px;
    cursor: pointer;
    width: 250px;
  }

  
  
  .sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
  }
  
  
  
 
  
  .sidebar-nav a:hover {
    color: #fff;
    background: none;
  }


  

  
/* #check{ 
  display: none;

}   */
#check {
  visibility: hidden;
}
 #check:checked ~ .sidebar-nav{
  margin-left: -250px;
} 

